div.navBar {
  overflow: auto;
  white-space: nowrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

div.navBar a {
  display: inline-block;
  color: #888585;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: medium;
}