.card_title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 21px;
}

.card_principal{
    background-color: #fafafa;
}

.button_blog{
    background-color: #03a87c;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    width: 120px;
    height: 40px;
}