.logoBlog{
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 135px;
}

.header_blog{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.options_menu{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
    color: rgb(165, 165, 165);
    
}
.container_text{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
    color: white;
}

.title_blog{
    font-family: Georgia,'Cambria', 'Times New Roman', serif
    
}
.container_body{
    max-width: 680px;
    text-align: center;
}
.blog_inf{
    font-family: Georgia,'Cambria', 'Times New Roman', serif;
    font-size: 21px
}